<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <!--Bootstrap-->
    <link rel="stylesheet" href="../static/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/fontawesome.min.css" >
  </head>
  <body>
    <!--Header-->
    {% include '_navbar.html' %}

    <!--Messages-->
    {% include '_messages.html' %}

    <!--body-->
    {% block content %}{% endblock %}

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Bootstrap-->
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/fontawesome.min.js"></script>
  </body>
</html>