{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Товары</h1>

    </div>
    <div class="container">
        <div class="row align-items-center" style="height: 300px">
            <div class="col text-center">
                <a href="client/index" class="text-dark"><i class="fas fa-users fa-5x"></i><br></br>Клиенты</a>
            </div>
            <div class="col text-center">
                <a href="product/index" class="text-dark"><i class="fas fa-boxes fa-5x"></i><br></br>Продукты</a>
            </div>
            <div class="col text-center">
                <a href="sale/index" class="text-dark"><i class="fas fa-shopping-cart fa-5x"></i><br></br>Покупки</a>
            </div>

        </div>
    </div>
{% endblock %}